<span routerLinkActive="active" class="add-new-programm">
    <a [routerLink]="['/admin/add-programme']" routerLinkActive="active">Add new programme</a>
</span>
<div class="programmes-container container">
    <div class="programme" [class.is-mobile]="isMobile" *ngFor="let programme of programmes; let i = index">
        <div class="programme-name" [ngClass]="(isMobile)?'col-5':'col-3'">Programme name: {{programme.programmeName}}</div>
        <div [ngClass]="(isMobile)?'col-7':'col-4'">Goal: {{programme.goal}}</div>
        <div class="date" [ngClass]="(isMobile)?'col-3':'col-3'">Date: {{programme.date | date:"dd-MM-yyyy"}}</div>
        <div class="view" [ngClass]="(isMobile)?'col-3':'col-1'" (click)="viewProgramme.openModal(true, programme)">View</div>
        <div class="edit" [ngClass]="(isMobile)?'col-3':'col-1'">
            <span routerLinkActive="active" class="user-link">
                <a [routerLink]="['/admin/edit-programme', programme.id]" routerLinkActive="active">Edit</a>
            </span>
        </div>
    </div>
</div>


<app-modal-view-programme #viewProgramme></app-modal-view-programme>
