<ng-template #modalViewProgramme>
    <div class="modal-header">
        <h4 class="modal-title pull-left">Add New Exercise programme</h4>
        <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body" [class.is-mobile]="isMobile" *ngIf="programme">
        <form>
            <div>
                <div class="first-row row">
                    <div class="programme-name col-6">
                        <label for="">Name of exercises programme *</label>
                        <div class="show-data">{{programme.programmeName}}</div>
                    </div>
                    <div class="col-6 date">
                        <label for="">Date</label>
                        <div class="show-data">{{programme.date | date:"dd-MM-yyyy"}}</div>
                    </div>
                </div>
                <div class="second-row row">
                    <div class="col-12 goal">
                        <label for="">Goals/Objectives</label>
                        <div class="show-data">{{programme.goal}}</div>
                    </div>
                </div>

                <div class="exercises-row" *ngFor="let exercise of programme.exercises;">
                    <hr>
                    <div class="row">
                        <div class="col-6 exercise-name">
                            <label for="">Exercise name</label>
                            <div class="show-data">{{exercise.exerciseName}}</div>
                        </div>
                        <div class="col-6 date">
                            <label for="">Review date</label>
                            <div class="show-data">{{exercise.reviewDate | date:"dd-MM-yyyy"}}</div>
                        </div>
                    </div>
                    <div class="description-row row">
                        <div class="col-12 goal">
                            <label for="">Description of exercises activity</label>
                            <div class="show-data">{{exercise.description}}</div>
                        </div>
                    </div>
                    <div class="initial-row row">
                        <label for="" class="col-12">Initial:</label>
                        <div class="initial">
                            <div class="col-2 flex">
                                <div class="show-data">{{exercise.initial.reps}}</div> <span> reps</span>
                            </div>
                            <div class="col-5 flex">
                                <div class="show-data">{{exercise.initial.timePerWeek}}</div>
                                <span>times per week</span>
                            </div>
                            <div class="col-5 flex">
                                <span>for the first</span>
                                <div class="show-data">{{exercise.initial.timePeriod}}</div>
                            </div>
                        </div>
                    </div>
                    <div class="row progression-row" *ngIf="exercise.progressions.length">
                        <label for="" class="col-12">Progression:</label>
                        <div *ngFor="let progression of exercise.progressions;" class="progression">
                            <div class="col-2 flex">
                                <div class="show-data">{{progression.reps}}</div>
                            </div>
                            <div class="col-5 flex">
                                <div class="show-data">{{progression.timePerWeek}}</div>
                                <span>times per week</span>
                            </div>
                            <div class="col-4 flex">
                                <span>for the first</span>
                                <div class="show-data">{{progression.timePeriod}}</div>
                            </div>
                        </div>
                    </div>
                    <div class="attach-row">
                        <div class="image" *ngFor="let image of getExerciseAttach(exercise);" >
                            <img src="{{getImage(image)}}" alt="{{image.filename}}">
                        </div>
                    </div>
                </div>
            </div>
        </form>

        <div class="footer">
            <button (click)="modalRef.hide()">Cancel</button>
        </div>
    </div>
</ng-template>

